* {
    font-family: 'Montserrat';
}

.container {
    width: 972px;
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    padding-top: 44px;
    padding-bottom: 109px;
}

.header-navigation {
    display: flex;
}

.logo {
    font-family: 'Bilbo Swash Caps';
    font-size: 36px;
    letter-spacing: 1.3px;
    line-height: 1.13;
    color: #FED136;
}

.header-list {
    display: flex;
    gap: 40px;
    margin-left: auto;
}

.header-page {
    color: #FED136;
    font-size: 14px;
    line-height: 2.92;
}

.services {
    padding-bottom: 119px;
}

.services-title {
    color: #222222;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 87.5px;
}

.services-list {
    display: flex;
    gap: 56px;
    justify-content: center;
}

.services-subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 4.16;
    color: #222222;
    margin-bottom: 17px;
    text-align: center;
}

.services-description {
    color: #777777;
    font-family: 'Roboto Slab';
    text-align: center;
    max-width: 304px;
}

.footer {
    background-color: #222222;
    padding-top: 92px;
    padding-bottom: 115px;
}

.footer-flex1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-flex2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-title {
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
    font-size: 40px;
    line-height: 1.21;
    text-transform: uppercase;
    margin-bottom: 116px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-right: 28px;
}

.footer-input {
    width: 455px;
    padding: 12px 310px 21px 20px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    width: 455px;
}

.footer-input::placeholder {
    text-transform: uppercase;
    font-weight: 700;
    color: #BBBBBB;
    font-size: 14px;
    line-height: 1.21;
}

.footer-textarea {
    border: 1px solid #CCCCCC;
    padding: 14px 286px 181px 22px;
    border-radius: 5px;
    width: 458px;
    height: 212px;
}

.footer-textarea::placeholder {
    text-transform: uppercase;
    font-weight: 700;
    color: #BBBBBB;
    font-size: 14px;
    line-height: 1.21;
}

.footer-btn {
    font-size: 18px;
    font-weight: 700;
    background-color: #FED136;
    color: #FFFFFF;
    line-height: 1.21;
    margin-top: 25px;
    padding: 18px 33px 28px;
    border-radius: 5px;
}